@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: normal;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 400;
  height: 100%;
}

a {
  font-family: "Montserrat", sans-serif, sans-serif;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu-select.is-active .menu-select__body {
  display: block;
}

.main-page {
  width: 100%;
  min-height: 100vh;
}

.main-page__body {
  width: 100%;
  min-height: 100vh;
  background: url(../img/bg-main.png) center/cover no-repeat;
  position: relative;
}

.header {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding: 0 250px;
  z-index: 4;
  -webkit-transition: none;
  transition: none;
}

.header__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo .header__logo-img {
  max-width: 70px;
}

.header__logo .header__logo-light {
  display: none;
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
}

.header__burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 30px;
  height: 3px;
  top: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 51;
}

.header__burger::before, .header__burger::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 3px;
  right: 0;
  z-index: 51;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__menu.active {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
}

.menu__list-item {
  padding: 0 15px;
}

.menu__list-link {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.menu-select.is-active .menu-select__item {
  color: #000;
  padding: 4px;
}

.menu-select {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.menu-select__current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu-select__current.fas.fa-chevron-down::before {
  position: absolute;
  right: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 11px;
}

.menu-select__body {
  display: none;
  background: #ffffff;
  position: absolute;
  top: 50px;
  right: -15px;
  width: 125px;
  height: 72px;
}

.menu-select__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-select__item img {
  max-width: 24px;
  margin-right: 10px;
}

.menu-select__item span {
  font-size: 12px;
  line-height: 14px;
}

.slider__body.active-2 .menu-select__current.fas.fa-chevron-down::before {
  color: #000;
}

.slider__body.active-2 .menu-select__current {
  color: #000;
}

.slider__body.active-2 .menu__list-link {
  color: #000000;
}

.slider__body.active-2 .slider__item-1 {
  z-index: 5;
}

.slider__body.active-2 .slider__item-3 {
  z-index: 5;
}

.slider__body.active-2 .header__logo-light {
  display: block;
}

.slider__body.active-2 .header__logo-dark {
  display: none;
}

.slider__body.active-2 .header {
  background-color: #fff;
  color: #000000;
}

.slider {
  width: 100%;
  height: 100vh;
}

.slider__body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.slider__item {
  width: 100px;
  height: 100vh;
  position: relative;
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider__item.active {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 190px;
}

.slider__item.active .slider__item-init {
  display: none;
}

.slider__item-1.active {
  background: url(../img/bg-main.png) center/cover no-repeat, -webkit-gradient(linear, left top, left bottom, from(#080066), to(#00000c));
  background: url(../img/bg-main.png) center/cover no-repeat, linear-gradient(180deg, #080066 0%, #00000c 100%);
}

.slider__item-2.active {
  background: url(../img/bg-main-2.png) center/cover no-repeat, -webkit-gradient(linear, left top, left bottom, from(#a21a1a), to(#ff3d00));
  background: url(../img/bg-main-2.png) center/cover no-repeat, linear-gradient(180deg, #a21a1a 0%, #ff3d00 100%);
}

.slider__item-3.active {
  background: url(../img/bg-main-2.png) center/cover no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(134, 0, 168, 0.97)), to(#22002b));
  background: url(../img/bg-main-2.png) center/cover no-repeat, linear-gradient(180deg, rgba(134, 0, 168, 0.97) 0%, #22002b 100%);
}

.slider__item-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#0a0a19), to(#1a166d));
  background: linear-gradient(180deg, #0a0a19 0%, #1a166d 100%);
}

.slider__item-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#a21a1a), to(#ff3d00));
  background: linear-gradient(180deg, #a21a1a 0%, #ff3d00 100%);
}

.slider__item-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(134, 0, 168, 0.97)), to(#22002b));
  background: linear-gradient(180deg, rgba(134, 0, 168, 0.97) 0%, #22002b 100%);
}

.slider__item-init {
  height: 100%;
  width: 100%;
  bottom: 10px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 15px;
}

.slider__item span {
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  white-space: nowrap;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.slider__item img {
  margin-top: 20px;
  width: 20px;
  height: 20px;
}

.slider__item.active .slider__item-full {
  max-width: 460px;
}

.slider__item.active .slider__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  margin-bottom: 15px;
}

.slider__item.active .slider__text {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 90px;
}

.slider__item.active .slider__button {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 15px 70px;
  color: #ffffff;
}

.slider-dots {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 40px;
  left: 0;
  z-index: 4;
}

.slider-dots__item {
  cursor: pointer;
  height: 4px;
  width: 50px;
  margin: 0 12px;
  background-color: #fff;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.slider__body.active-1 .slider-dots__item-1 {
  background-color: #d62d0b;
}

.slider__body.active-2 .slider-dots__item-2 {
  background-color: #0b0a1e;
}

.slider__body.active-3 .slider-dots__item-3 {
  background-color: #d62d0b;
}

@media (max-width: 1190px) {
  .slider__item {
    width: 70px;
  }
  .header {
    padding: 0 160px;
  }
}

@media (max-width: 1024px) {
  .menu__list-item {
    padding: 0 5px;
  }
}

@media (max-width: 925px) {
  .header__menu .menu__list {
    display: none;
  }
  .header__burger {
    display: block;
    margin-left: 50px;
    z-index: 10;
  }
  .header__menu.active {
    position: relative;
  }
  .header__menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #151515;
    z-index: 8;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-dots {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 40px;
    left: 0;
    z-index: 3;
  }
  .header__menu .menu__list-item {
    padding: 10px 0;
  }
  .header__menu.active .menu__list {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .slider__body.active-2 .header__burger::after,
  .slider__body.active-2 .header__burger::before,
  .slider__body.active-2 .header__burger span {
    background-color: #000;
  }
  .header__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-select {
    margin-left: 50px;
  }
}

@media (max-width: 792px) {
  .header {
    padding: 0 160px;
  }
  .slider__item.active {
    padding-left: 70px;
  }
  .header__burger {
    margin-left: 50px;
  }
}

@media (max-width: 567px) {
  .slider__item.active .slider__title {
    font-size: 30px;
  }
  .slider__item.active .slider__item-full {
    max-width: none;
    padding: 0 10px;
  }
  .slider-dots {
    display: none;
  }
  .slider__item {
    width: 50px;
  }
}

@media (max-width: 511px) {
  .header {
    padding: 0 120px;
  }
}

@media (max-width: 476px) {
  .header__burger {
    margin-left: 20px;
  }
  .menu-select {
    margin-left: 20px;
  }
}

@media (max-width: 430px) {
  .slider__item.active .slider__button {
    padding: 10px 50px;
  }
  .slider__item.active .slider__text {
    margin-bottom: 40px;
  }
  .slider__item.active .slider__title {
    font-size: 22px;
  }
}

@media (max-width: 405px) {
  .slider__item.active .slider__button {
    padding: 10px 30px;
  }
  .header {
    padding: 0 120px 0 105px;
  }
  .slider__item.active {
    padding-left: 35px;
  }
  .header__burger {
    margin-left: 10px;
  }
  .menu-select {
    margin-left: 10px;
  }
}
